<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hello, {{user.first_name}} {{user.last_name}}</h1>
    <br>
    <h2>Your Programs</h2>
    {% for program in program_list %}
        <p>Program Name: <a href="/program/{{program.id}}">{{ program.title }}</a></p>
        <p>Program Description: {{ program.description }}</p>
        <p># of Weeks: 4</p>
    {% endfor %}
    <br>
    <a href="/create/program">Create a Program</a>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</body>
</html>