<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for responsiveness and compatibility -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dashboard</title>
</head>

<body class="container mt-5" style="padding: 30px;"> 
    <!-- Top Row for User Greeting and Logout -->
    <div class="row mb-4">
        <div class="col-9 d-flex justify-content-between">
            <h2>YouCoach - Your Workout Tracker</h2>
            <h2>Hello, {{ user.first_name }} {{ user.last_name }}</h2>
        </div>        
        <div class="col-3 text-right">
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="mb-4">Your Programs</h3> <!-- Increased bottom margin -->
            {% for program in program_list %}
                <div class="border p-4 my-4 rounded program-card" onclick="navigateToProgram('{{program.id}}')" style="cursor: pointer;"> <!-- Increased padding and margin -->
                    <!-- Program Card Header -->
                    <div class="d-flex justify-content-between align-items-start mb-3"> <!-- Added bottom margin -->
                        <div>
                            <h3 class="mb-1">{{ program.title }}</h3> <!-- Reduced bottom margin -->
                            <small class="text-muted">({{program.weeks|length}} Weeks)</small>
                        </div>
                        <form action="/delete/program/{{ program.id }}" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <!-- Program Description -->
                    <p><strong>Program Description:</strong> {{ program.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
    

    <!-- Create Program Button -->
    <div class="row mt-4">
        <div class="col">
            <a href="/create/program" class="btn btn-success">Create a Program</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
