<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Day: {{ day.daynumber }}</title>
</head>
<body class="container mt-5" style="padding: 30px;">
    <div class="row align-items-center">
        <div class="col-md-8 col-sm-6">
            <h1 class="text-center text-sm-left mb-4">Day: {{ day.daynumber }}</h1>
        </div>
        <div class="col-md-4 col-sm-6 text-right">
            <form action="/delete/day/{{ day.id }}/{{ program.id }}" method="POST" class="mb-0">
                <button class="btn btn-danger">Remove Day</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-footer">
                    <form action="/update/day/{{ day.id }}/{{ program.id }}" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="completed">Completed:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="completed" id="completedYes" value="Yes" {{ 'checked' if day.completed else '' }}>
                                    <label class="form-check-label" for="completedYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="completed" id="completedNo" value="No" {{ 'checked' if not day.completed else '' }}>
                                    <label class="form-check-label" for="completedNo">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="RPE">RPE:</label>
                                <input type="number" name="RPE" id="RPE" value="{{ day.RPE }}" class="form-control" min="1" max="10">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usernotes">Notes:</label>
                            <textarea name="usernotes" id="usernotes" class="form-control" rows="3">{{ day.usernotes }}</textarea>
                        </div>
                        <input type="hidden" name="id" id="id" value="{{ day.id }}">
                        <div class="card-footer d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4">
                <!-- Create Workout Form -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Create a Workout:</h2>
                        <form action="/create/workout/{{ program.id }}" method="POST">
                            <div class="form-group">
                                <input type="text" name="title" id="title" placeholder="Title" required class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea name="warmup" id="warmup" class="form-control" rows="3" placeholder="Warm-Up"></textarea>
                            </div>
                            <div class="form-group">
                                <textarea name="cooldown" id="cooldown" class="form-control" rows="3" placeholder="Cooldown"></textarea>
                            </div>
                            <input type="hidden" name="day_id" id="day_id" value="{{ day.id }}">
                            <button type="submit" class="btn btn-success">Save Workout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- Workouts List -->
    <div class="container mt-4">
        <h2 class="mb-4 text-center">Workout Plans:</h2>
        {% if not workouts %}
            <div class="alert alert-info text-center" role="alert">
                No workouts
            </div>
        {% else %}
            <div class="row">
                {% for workout in workouts %}
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                {{ workout.title }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Warm-Up</h5>
                                <p class="card-text">{{ workout.warmup }}</p>
                                <h5 class="card-title">Exercises: </h5>
                                {% if not workout.exercises %}
                                    <p class="text-muted">Add an exercise</p>
                                {% else %}
                                    {% for exercise in workout.exercises %}
                                    <div id="exercise_display_{{ exercise.id }}" class="exercise-display">
                                        <strong onclick="showEditForm({{ exercise.id }})" style="cursor: pointer;">{{ exercise.title }}</strong>:
                                        <span onclick="showEditForm({{ exercise.id }})" style="cursor: pointer;">{{ exercise.content }}</span>
                                    </div>
                                    <div id="exercise_edit_form_{{ exercise.id }}" style="display: none;">
                                        <form action="/update-exercise/{{ workout.id }}/{{ day.id }}/{{ program.id }}" method="POST">
                                            <input type="text" name="title" value="{{ exercise.title }}" class="form-control mb-1">
                                            <input type="text" name="content" value="{{ exercise.content }}" class="form-control mb-1">
                                            <input type="hidden" name="id" id="id" value="{{ exercise.id }}">
                                            <button type="submit" class="btn btn-primary btn-sm mr-2">Save</button>
                                            <button type="button" onclick="hideEditForm({{ exercise.id }})" class="btn btn-secondary btn-sm">Cancel</button>
                                        </form>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                <br>
                                <h5 class="card-title">Cooldown</h5>
                                <p class="card-text">{{ workout.cooldown }}</p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="/create/exercise/{{ workout.id }}/{{ day.id }}/{{ program.id }}" class="btn btn-primary btn-sm mr-2">Add Exercise</a>
                                <button class="btn btn-danger btn-sm" form="deleteWorkout{{ workout.id }}">Delete Workout</button>
                            </div>
                        </div>
                    </div>
                    <form id="deleteWorkout{{ workout.id }}" action="/delete/workout/{{ workout.id }}/{{ day.id }}/{{ program.id }}" method="POST"></form>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Back Button -->
    <a href="/program/{{ program.id }}" class="btn btn-secondary mt-3">Back</a>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>