<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Day: {{ day.daynumber }}</title>
</head>
<body class="container mt-5">
    <h1 class="text-center mb-4">Day: {{ day.daynumber }}</h1>


    <!-- Row for both cards -->
    <div class="row">
        <!-- Edit Day Form in a card, occupying half the row -->
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <form action="/update/day/{{ day.id }}/{{ program.id }}" method="POST">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="completed">Completed:</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="completed" id="completedYes" value="Yes" {{ 'checked' if day.completed else '' }}>
                                    <label class="form-check-label" for="completedYes">
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="completed" id="completedNo" value="No" {{ 'checked' if not day.completed else '' }}>
                                    <label class="form-check-label" for="completedNo">
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="RPE">RPE:</label>
                                <input type="text" name="RPE" id="RPE" value="{{ day.RPE }}" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="usernotes">Notes:</label>
                            <textarea name="usernotes" id="usernotes" class="form-control" rows="3">{{ day.usernotes }}</textarea>
                        </div>
                        <input type="hidden" name="id" id="id" value="{{ day.id }}">
                        <div class="card-footer d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary">Edit</button>
                            <!-- Remove Day Button in a form -->
                            <form action="/delete/day/{{ day.id }}/{{ program.id }}" method="POST" class="mb-0">
                                <button class="btn btn-danger">Remove Day</button>
                            </form>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

        <!-- Create Workout Form in a card, occupying the other half of the row -->
        <div class="col-md-6">
            <div class="card mb-4">
                <!-- Create Workout Form -->
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Create a Workout:</h2>
                        <form action="/create/workout/{{ program.id }}" method="POST">
                            <div class="form-group">
                                <input type="text" name="title" id="title" placeholder="Title" required class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text"name="warmup" id="warmup" placeholder="Warm-Up" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text"name="cooldown" id="cooldown" placeholder="Cooldown" class="form-control">
                            </div>
                            <input type="hidden" name="day_id" id="day_id" value="{{ day.id }}">
                            <button type="submit" class="btn btn-success">Save Workout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- Workouts List -->
    <h2 class="mb-3">Workout Plans:</h2>
    {% if not workouts %}
        <p>No workouts</p>
    {% else %}
        <div class="table-responsive">
            <table class="table table-bordered">
                {% for workout in workouts %}
                    <!-- Workout Title -->
                    <thead>
                        <tr>
                            <th colspan="2">{{ workout.title }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Exercises Listing -->
                        <tr>
                            <td>
                                <div><h6><strong>Warm-Up: {{ workout.warmup }}</strong></h6></div>
                                {% if not workout.exercises %}
                                    <p>Add an exercise</p>
                                {% else %}
                                    {% for exercise in workout.exercises %}
                                        <div id="exercise_display_{{ exercise.id }}">
                                            <strong onclick="showEditForm({{ exercise.id }})" style="cursor: pointer;">{{ exercise.title }}</strong>: 
                                            <span onclick="showEditForm({{ exercise.id }})" style="cursor: pointer;">{{ exercise.content }}</span>
                                        </div>
                                        <div id="exercise_edit_form_{{ exercise.id }}" style="display: none;">
                                            <form action="/update-exercise/{{ workout.id }}/{{ day.id }}/{{ program.id }}" method="POST">
                                                <input type="text" name="title" value="{{ exercise.title }}">
                                                <input type="text" name="content" value="{{ exercise.content }}">
                                                <input type="hidden" name="id" id="id" value="{{ exercise.id }}">
                                                <input type="submit" value="Save">
                                                <button type="button" onclick="hideEditForm({{ exercise.id }})">Cancel</button>
                                            </form>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                <div><strong>Cooldown: {{ workout.cooldown }}</strong></div>
                            </td>
                        </tr>
                        <!-- Action Buttons -->
                        <tr>
                            <td colspan="2" class="text-center">
                                <a href="/create/exercise/{{ workout.id }}/{{ day.id }}/{{ program.id }}" class="btn btn-primary">Add Exercise</a>
                                <form action="/delete/workout/{{ workout.id }}/{{ day.id }}/{{ program.id }}" method="POST" class="d-inline">
                                    <button class="btn btn-danger">Delete Workout</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
    {% endif %}

        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <a href="/program/{{ program.id }}" class="btn btn-secondary mt-3">Back</a>
</body>
</html>
